* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Montserrat", "sans-serif";
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

button:hover {
  opacity: 0.9;
}

body > div:not(#Home, #About, #Portfolio, #Services, .after-services, .number-services, #Prices, #testimonial),
body footer {
  display: none;
}

header {
  background-color: #eeeeee;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0%;
  transition: padding 0.2s, background-color 0.2s;
}
header.trans {
  background-color: transparent;
  padding: 8px 0px;
}
header.trans .main-header .logo a {
  color: white;
}
header.trans .main-header .links ul li a {
  color: white;
}
header .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main-header .logo a {
  padding: 5px;
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
header .main-header .links svg {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}
@media (min-width: 768px) {
  header .main-header .links svg {
    display: none;
  }
}
header .main-header .links > ul {
  display: none;
}
@media (min-width: 768px) {
  header .main-header .links > ul {
    display: block;
  }
}
header .main-header .links > ul > li {
  display: inline-block;
  padding: 0px 10px;
}
header .main-header .links > ul > li > a {
  display: block;
  font-size: 14px;
  padding: 16px 1px;
  color: black;
  position: relative;
}
header .main-header .links > ul > li > a::after {
  content: "";
  background-color: #6195ff;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 20%;
  left: 0%;
  transition: width 0.3s;
}
header .main-header .links > ul > li > a:hover, header .main-header .links > ul > li > a.active {
  color: #6195ff;
  opacity: 0.7;
}
header .main-header .links > ul > li > a:hover::after, header .main-header .links > ul > li > a.active::after {
  width: 100%;
}
header .main-header .links > ul .blogp {
  position: relative;
}
header .main-header .links > ul .blogp:hover .blogpost {
  opacity: 1;
  visibility: visible;
  top: 100%;
  left: -80%;
}
header .main-header .links > ul .blogp .drop {
  font-size: 13px;
}
header .main-header .links > ul .blogp .blogpost {
  opacity: 0;
  visibility: hidden;
  width: 150px;
  position: absolute;
  top: 110%;
  left: -75%;
  background-color: #6195ff;
  transition: top 0.3s, left 0.3s, opacity 0.2s;
}
header .main-header .links > ul .blogp .blogpost a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-transform: capitalize;
}

#Home {
  background-image: url(../image/images/background/background1.webp);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
#Home::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#Home .box {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
#Home .box h1 {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #Home .box h1 {
    font-size: 2.5rem;
  }
}
#Home .box p {
  font-size: 0.8rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  #Home .box p {
    font-size: 1rem;
  }
}
#Home .box .buttons > button {
  padding: 0.3rem 0.6rem;
  text-transform: capitalize;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  #Home .box .buttons > button {
    padding: 0.7rem 2rem;
  }
}
#Home .box .buttons > button:last-child {
  color: white;
  background-color: #6195ff;
  margin-left: 0.2rem;
}
@media (min-width: 768px) {
  #Home .box .buttons > button:last-child {
    margin-left: 1.2rem;
  }
}

#About {
  padding: 150px 0px;
}
#About .main-welcome .head-welcome {
  margin-bottom: 100px;
}
#About .main-welcome .head-welcome .title {
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.8rem;
  position: relative;
}
@media (min-width: 768px) {
  #About .main-welcome .head-welcome .title {
    font-size: 2rem;
  }
}
#About .main-welcome .head-welcome .title::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
}
#About .main-welcome .boxs-welcome {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 600px) {
  #About .main-welcome .boxs-welcome {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}
#About .main-welcome .boxs-welcome .box-welcome {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  text-align: center;
  box-shadow: 0 0 1px 0;
  position: relative;
}
#About .main-welcome .boxs-welcome .box-welcome i {
  font-size: 30px;
  color: #6195ff;
}
#About .main-welcome .boxs-welcome .box-welcome h3 {
  font-size: 23px;
}
#About .main-welcome .boxs-welcome .box-welcome p {
  color: rgba(128, 128, 128, 0.8);
  line-height: 1.6;
}
#About .main-welcome .boxs-welcome .box-welcome span {
  color: #6195ff;
  cursor: pointer;
}
#About .main-welcome .boxs-welcome .box-welcome::after {
  content: "";
  background-color: #1c1d21;
  position: absolute;
  z-index: -1;
  left: 0%;
  top: 0%;
  width: 0%;
  height: 100%;
  transition: width 0.2s;
}
#About .main-welcome .boxs-welcome .box-welcome:hover::after {
  width: 100%;
}
#About .main-welcome .boxs-welcome .box-welcome:hover h3 {
  color: white;
}

#Portfolio {
  background-color: #fafafa;
  padding: 150px 0px;
  box-shadow: 0 0 2px 0;
}
#Portfolio .mian-featured .head-featured {
  margin-bottom: 100px;
}
#Portfolio .mian-featured .head-featured .title {
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.8rem;
  position: relative;
}
@media (min-width: 768px) {
  #Portfolio .mian-featured .head-featured .title {
    font-size: 2rem;
  }
}
#Portfolio .mian-featured .head-featured .title::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
}
#Portfolio .mian-featured .boxs-featured {
  display: grid;
}
@media (min-width: 600px) {
  #Portfolio .mian-featured .boxs-featured {
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }
}
#Portfolio .mian-featured .boxs-featured .box-featured {
  position: relative;
  text-align: center;
  padding: 20px;
}
#Portfolio .mian-featured .boxs-featured .box-featured img {
  width: 100%;
  border-radius: 50px;
}
#Portfolio .mian-featured .boxs-featured .box-featured .after {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 0;
}
#Portfolio .mian-featured .boxs-featured .box-featured .after:hover {
  opacity: 1;
}
#Portfolio .mian-featured .boxs-featured .box-featured .after:hover .text-after {
  transform: translate(-50%, -50%);
}
#Portfolio .mian-featured .boxs-featured .box-featured .after .text-after {
  width: 90%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  transform: translatex(-50%);
  transition: transform 0.1s;
}
#Portfolio .mian-featured .boxs-featured .box-featured .after .text-after span {
  text-transform: uppercase;
  color: #6195ff;
}
#Portfolio .mian-featured .boxs-featured .box-featured .after .text-after h5 {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0px;
}
#Portfolio .mian-featured .boxs-featured .box-featured .after .text-after i {
  background-color: #6195ff;
  padding: 17px;
  margin: 3px;
  cursor: pointer;
}
#Portfolio .mian-featured .boxs-featured .box-featured .after .text-after i:hover {
  opacity: 0.9;
}

#Services {
  padding: 150px 0px;
}
#Services .main-services .head-services {
  margin-bottom: 100px;
}
#Services .main-services .head-services .title {
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.8rem;
  position: relative;
}
@media (min-width: 768px) {
  #Services .main-services .head-services .title {
    font-size: 2rem;
  }
}
#Services .main-services .head-services .title::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
}
#Services .main-services .boxs-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 20px;
}
#Services .main-services .boxs-services .box-services {
  box-shadow: 0 0 1px 0;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: relative;
}
#Services .main-services .boxs-services .box-services::after {
  content: "";
  background-color: #1c1d21;
  position: absolute;
  z-index: -1;
  left: 0%;
  top: 0%;
  width: 0%;
  height: 100%;
  transition: width 0.2s;
}
#Services .main-services .boxs-services .box-services:hover::after {
  width: 100%;
}
#Services .main-services .boxs-services .box-services:hover h3 {
  color: white;
}
#Services .main-services .boxs-services .box-services i {
  font-size: 30px;
  color: #6195ff;
}
#Services .main-services .boxs-services .box-services .text-services h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}
#Services .main-services .boxs-services .box-services .text-services p {
  line-height: 1.7;
  color: rgba(128, 128, 128, 0.8);
}

.after-services {
  background-color: #fafafa;
  padding: 150px 0px;
  box-shadow: 0 0 2px 0;
}
.after-services .main-after {
  display: grid;
  gap: 25px;
}
@media (min-width: 992px) {
  .after-services .main-after {
    grid-template-columns: repeat(2, 1fr);
  }
}
.after-services .main-after .text-after h3 {
  margin-bottom: 90px;
  font-weight: bold;
  font-size: 40px;
  text-transform: capitalize;
  position: relative;
}
.after-services .main-after .text-after h3::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 0%;
  bottom: -60%;
}
.after-services .main-after .text-after p {
  font-size: 14px;
  line-height: 1.9;
  color: rgba(128, 128, 128, 0.8);
}
.after-services .main-after .text-after p:not(:last-child) {
  margin-bottom: 15px;
}
.after-services .main-after .text-after p.child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.after-services .main-after .text-after p.child i {
  padding: 5px;
  border: 1px solid #6195ff;
  border-radius: 50%;
  color: #6195ff;
}
.after-services .main-after .img-box {
  position: relative;
}
.after-services .main-after .img-box img {
  width: 100%;
}
.after-services .main-after .img-box i {
  position: absolute;
  padding: 15px 20px;
  background-color: #6195ff;
  top: 50%;
  transform: translatey(-50%);
  display: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.after-services .main-after .img-box i:first-of-type {
  left: 0%;
}
.after-services .main-after .img-box i:last-of-type {
  right: 0%;
}
.after-services .main-after .img-box:hover i {
  display: block;
}
.after-services .main-after .img-box::after {
  background-color: #6195ff;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -20px;
  left: calc(50% - 19px);
  transform: translate(-50%, -50%);
  border: 0.5px #6195ff solid;
  width: 17px;
  border-radius: 20px;
}
.after-services .main-after .img-box::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -20px;
  left: calc(50% + 7px);
  transform: translate(-50%, -50%);
  border: 0.5px #6195ff solid;
}

.number-services {
  padding: 50px;
  position: relative;
  z-index: 1;
  background-image: url(../image/images/background/background2.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.number-services .boxs-number {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 2rem;
}
.number-services .boxs-number .box-number {
  text-align: center;
  padding: 10px;
}
.number-services .boxs-number .box-number i {
  color: #6195ff;
  font-size: 35px;
  margin-bottom: 25px;
}
.number-services .boxs-number .box-number .num {
  font-size: 45px;
  color: white;
  margin-bottom: 25px;
}
.number-services .boxs-number .box-number .title {
  font-size: 13px;
  color: white;
}
.number-services::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#Prices {
  padding: 150px 0px;
}
#Prices .main-price .head-price {
  margin-bottom: 100px;
}
#Prices .main-price .head-price .title {
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.8rem;
  position: relative;
}
@media (min-width: 768px) {
  #Prices .main-price .head-price .title {
    font-size: 2rem;
  }
}
#Prices .main-price .head-price .title::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
}
#Prices .main-price .boxs-price {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem;
}
#Prices .main-price .boxs-price .box-price {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 1px 0;
  position: relative;
  transition: transform 0.3s;
}
#Prices .main-price .boxs-price .box-price::after {
  content: "";
  background-color: #1c1d21;
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  transition: height 0.2s;
}
#Prices .main-price .boxs-price .box-price:hover {
  transform: translateY(-1rem);
}
#Prices .main-price .boxs-price .box-price:hover::after {
  height: 100%;
}
#Prices .main-price .boxs-price .box-price:hover .radios {
  color: white;
}
#Prices .main-price .boxs-price .box-price:hover .pl {
  color: #6195ff;
}
#Prices .main-price .boxs-price .box-price span {
  color: rgba(128, 128, 128, 0.8);
}
#Prices .main-price .boxs-price .box-price .pl {
  text-transform: uppercase;
}
#Prices .main-price .boxs-price .box-price .radios {
  width: 140px;
  height: 140px;
  border: #6195ff solid 2px;
  border-radius: 50%;
  position: relative;
}
#Prices .main-price .boxs-price .box-price .radios h6 {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
#Prices .main-price .boxs-price .box-price .radios h6 span {
  font-size: 15px;
  position: relative;
  top: -22px;
}
#Prices .main-price .boxs-price .box-price button {
  padding: 15px 30px;
  border: #6195ff solid 2px;
  border-radius: 5px;
  background-color: transparent;
  color: #6195ff;
  cursor: pointer;
}

#testimonial {
  position: relative;
  padding-block: 6rem;
  background-image: url(../image/images/background/background3.webp);
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
#testimonial::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
@media (min-width: 768px) {
  #testimonial {
    padding-inline: 6rem;
  }
}
#testimonial .boxs-section {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 2rem;
}
#testimonial .boxs-section .box-section .top {
  display: flex;
  gap: 1.2rem;
}
#testimonial .boxs-section .box-section .top img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
#testimonial .boxs-section .box-section .top .text {
  font-size: 1.5rem;
  color: white;
  line-height: 1.2rem;
  margin-top: 1rem;
}
#testimonial .boxs-section .box-section .top .text span {
  color: #6195ff;
  font-size: 20px;
}
#testimonial .boxs-section .box-section .bot {
  color: lightgray;
  margin-top: 20px;
  line-height: 1.7;
}

.team {
  padding: 150px 0px;
}
.team .main-team .head-team {
  margin-bottom: 100px;
  margin-top: 0;
}
.team .main-team .head-team .title {
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.8rem;
  position: relative;
}
@media (min-width: 768px) {
  .team .main-team .head-team .title {
    font-size: 2rem;
  }
}
.team .main-team .head-team .title::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
}
.team .main-team .boxs-team {
  display: grid;
  column-gap: 20px;
}
@media (min-width: 992px) {
  .team .main-team .boxs-team {
    grid-template-columns: repeat(3, 1fr);
  }
}
.team .main-team .boxs-team .box-team {
  padding: 30px 10px;
  background-color: #eee;
  position: relative;
}
.team .main-team .boxs-team .box-team:hover .overlay {
  height: 100%;
  z-index: 0;
}
.team .main-team .boxs-team .box-team:hover .info .title {
  color: white;
}
.team .main-team .boxs-team .box-team:hover .info span {
  color: #6195ff;
}
.team .main-team .boxs-team .box-team .overlay {
  padding: inherit;
  background-color: #1c1d21;
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  transition: height 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.team .main-team .boxs-team .box-team .overlay i {
  padding: 15px 0;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #6195ff;
  cursor: pointer;
  text-align: center;
}
.team .main-team .boxs-team .box-team .overlay i:hover {
  opacity: 0.8;
}
.team .main-team .boxs-team .box-team .info {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
}
.team .main-team .boxs-team .box-team .info .title {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.team .main-team .boxs-team .box-team .info span {
  color: rgba(128, 128, 128, 0.8);
}

.blog {
  background-color: #fafafa;
  padding: 150px 0px;
  box-shadow: 0 0 2px 0;
}
.blog .main-blog .head-blog {
  margin-bottom: 100px;
}
.blog .main-blog .head-blog .title {
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.8rem;
  position: relative;
}
@media (min-width: 768px) {
  .blog .main-blog .head-blog .title {
    font-size: 2rem;
  }
}
.blog .main-blog .head-blog .title::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
}
.blog .main-blog .boxs-blog {
  display: grid;
  column-gap: 30px;
}
@media (min-width: 992px) {
  .blog .main-blog .boxs-blog {
    grid-template-columns: repeat(3, 1fr);
  }
}
.blog .main-blog .boxs-blog .box-blog {
  background-color: white;
}
.blog .main-blog .boxs-blog .box-blog img {
  width: 100%;
}
.blog .main-blog .boxs-blog .box-blog .content-blog {
  padding: 20px;
}
.blog .main-blog .boxs-blog .box-blog .content-blog > *:not(:last-child) {
  margin-bottom: 20px;
}
.blog .main-blog .boxs-blog .box-blog .content-blog .blog-meta li {
  display: inline-block;
  font-family: "Varela Round", "sans-serif";
}
.blog .main-blog .boxs-blog .box-blog .content-blog .blog-meta li i {
  color: #6195ff;
  margin-right: 5px;
  font-size: 13px;
}
.blog .main-blog .boxs-blog .box-blog .content-blog .blog-meta li:not(:last-child) {
  margin-right: 15px;
}
.blog .main-blog .boxs-blog .box-blog .content-blog .title-content {
  font-size: 20px;
}
.blog .main-blog .boxs-blog .box-blog .content-blog p {
  color: rgba(128, 128, 128, 0.8);
  line-height: 1.6;
  word-break: break-word;
  font-size: 15px;
}
.blog .main-blog .boxs-blog .box-blog .content-blog span {
  color: #6195ff;
  cursor: pointer;
}
.blog .main-blog .boxs-blog .box-blog .content-blog span:hover {
  opacity: 0.8;
}

.contact {
  padding: 150px 0px;
}
.contact .main-contact .head-contact {
  margin-bottom: 100px;
}
.contact .main-contact .head-contact .title {
  width: 50%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  word-spacing: 0.8rem;
  position: relative;
}
@media (min-width: 768px) {
  .contact .main-contact .head-contact .title {
    font-size: 2rem;
  }
}
.contact .main-contact .head-contact .title::after {
  content: "";
  background-color: #6195ff;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
}
.contact .main-contact .boxs-contact {
  display: grid;
  column-gap: 10px;
}
@media (min-width: 992px) {
  .contact .main-contact .boxs-contact {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contact .main-contact .boxs-contact .box-contact {
  text-align: center;
}
.contact .main-contact .boxs-contact .box-contact > *:not(:last-child) {
  margin-bottom: 25px;
}
.contact .main-contact .boxs-contact .box-contact #Phone {
  animation-name: phone;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.contact .main-contact .boxs-contact .box-contact #Email {
  animation-name: email;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.contact .main-contact .boxs-contact .box-contact #Address {
  animation-name: address;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.contact .main-contact .boxs-contact .box-contact i {
  color: #6195ff;
  font-size: 40px;
}
.contact .main-contact .boxs-contact .box-contact .title {
  font-size: 20px;
}
.contact .main-contact .boxs-contact .box-contact span {
  color: rgba(128, 128, 128, 0.8);
}

.form-contact {
  width: 70%;
  margin: 70px auto 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form-contact > * {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #eee;
  background-color: #f4f4f4;
}
.form-contact .Name,
.form-contact .Email {
  width: calc((100% - 10px) / 2);
}
.form-contact .Subject {
  width: 100%;
}
.form-contact .Message {
  width: 100%;
  height: 80px;
  resize: none;
}
.form-contact .send {
  padding: 12px 40px;
  margin: 15px auto;
  cursor: pointer;
  color: white;
  background-color: #6195ff;
  border-radius: 5px;
}
.form-contact .send:hover {
  opacity: 0.8;
}

footer {
  background-color: #1c1d21;
  padding: 50px 0px;
}
footer .main-footer {
  text-align: center;
}
footer .main-footer .head-footer h2 {
  margin-bottom: 60px;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}
footer .main-footer .icons {
  margin-bottom: 40px;
}
footer .main-footer .icons li {
  display: inline-block;
}
footer .main-footer .icons li:not(:last-child) {
  margin-right: 13px;
}
footer .main-footer .icons li:hover {
  opacity: 0.7;
}
footer .main-footer .icons li a {
  display: block;
}
footer .main-footer .icons li a i {
  color: white;
  background-color: #6195ff;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 16px 0px;
  font-size: 20px;
}
footer .main-footer p {
  color: #868f9b;
}
footer .main-footer p span {
  color: #6195ff;
}

#gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
#gotop a {
  display: block;
  background-color: #6195ff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
}
#gotop a:hover {
  opacity: 0.8;
}

@keyframes phone {
  0% {
    transform: rotatez(5deg);
  }
  50% {
    transform: rotatez(-5deg);
  }
  100% {
    transform: rotatez(5deg);
  }
}
@keyframes email {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scaleX(0.8) scaley(1.2);
  }
  100% {
    transform: scaleX(1.2);
  }
}
@keyframes address {
  from {
    transform: translateY(6px) scaley(0.9);
  }
  100% {
    transform: translateY(0%) scaley(1);
  }
}

/*# sourceMappingURL=style.css.map */
