$maincolor: #6195ff;
$secnd-color: #fafafa;
$parent-padding: 150px 0px;
$shadow-box: 0 0 1px 0;
$main-P: rgba(128, 128, 128, 0.8);

// Screen Breakpoint
$screenWidth: (
    "sm": 600px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
);
